@model IEnumerable<VireiDev.Models.CursoModels>

@{
    ViewBag.Title = "Cursos";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>Cursos Disponíveis</h2>

<p>
    @Html.ActionLink("Cadastrar Cursos", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeCurso)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoCurso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCurso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoCurso)
        </td>
        <td>
            @Html.ActionLink("Atualizar", "Edit", new { id=item.IdCurso }, htmlAttributes: new { @class = "btn btn-success" }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdCurso }, htmlAttributes: new { @class = "btn btn-info" }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdCurso }, htmlAttributes: new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
